--- 
layout: home 
# Title should reference the variable in _i18n/[lang].yml 
title: page.title.home

# Can reference variables in _i18n/[lang].yml 
---
    
    {% include navbar.html %}
<section style="background: url('assets/img/old_flushing_03_1600_800.png') center center no-repeat scroll;">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-2">
                
                {% include home_welcome.html %}
                
            </div>
        </div>
    </div>
</section>

<section class="d-flex p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-2">
                
                {% include home_upcoming.html %}
                
            </div>
            <div class="col-md-6 py-2">
                
                {% include home_regular_services.html %}
                
            </div>
        </div>
    </div>
</section>