<!-- Footer -->
<footer class="bg-dark">
   <div class="container text-white">
        <div class="row">
            <div class="col-md-6 py-2">
                <br>
                
                {% include footer_location.html %}
                
            </div>
            <div class="col-md-6 py-2">
                <br>
                
                {% include footer_contact.html %}
                
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-md-12 py-2 text-center text-muted">
                {% t footer.copyright %}
            </div>
        </div>
    </div> 
    <!-- Go to top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
</footer>
