<head>
    <!-- Required meta-tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- For the Chevron Glyph for the Back to Top button -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Custom CSS here -->
    <link rel="stylesheet" href="{{ "/assets/css/fgh.css" | prepend: site.baseurl_root }}"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:700|Open+Sans|Nanum+Myeongjo:400,800&amp;subset=korean" rel="stylesheet">

    <!-- Title -->
    <title>{% t page.title %}</title>
</head>
