<h3>Welcome</h3>

<p>We are an assembly of Christians living in the borough of Queens in New York City and the surrounding communities, who “gather together in the name of the Lord Jesus Christ” and claim the Lord’s promise:</p>

<blockquote class="blockquote">
    <p class="mb-0">For where two or three are gathered together in my name, there am I in the midst of them.</p>
    <footer class="blockquote-footer">Matthew 18:20</footer>
</blockquote>

<p>Please explore our site and come visit us. For more information see <a href="#">what we believe</a> or learn more <a href="#">about our meetings.</a> You can also listen to <a href="#">recorded messages.</a></p>
                